<div>
    <p>Dear {{madLibsObject.person1}}</p>
    <p>You are extremely {{madLibsObject.adjective1}} and I {{madLibsObject.verb1}} you! I want to kiss your {{madLibsObject.bodypart1}} {{madLibsObject.verb2}} times. You make my {{madLibsObject.noun1}} burn with desire. When I first saw you, I {{madLibsObject.adverb1}}
        stared at you and fell in love. Will you {{madLibsObject.verb3}} out with me? Don't let your parents discourage you, {{madLibsObject.pluralnoun1}} are just jealous.</p>
    <p>Yours forever, {{madLibsObject.person2}}</p>
</div>
